*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    height: 600px;
    width: 500px;
    background-color: gainsboro;
    margin: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card-container{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.link1,
.link2{
font-size: 15px;
margin-inline: 5px;
font-weight: 700;
color: red;
}

