body{
    background-color: black;
    display: flex;
}

.continer-box{
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.top-box{
    height: 100px;
    width: 300px;
    display: flex;
}

.top-box::before{
    content: '';
    height: 100px;
    width: 100px;
    z-index: 2;
    border-left: 10px solid red;
    border-top: 10px solid red;
}

.top-box::after{
    content: '';
    position: relative;
    height: 100px;
    width: 100px;
    z-index: 2;
    border-right: 10px solid red;
    border-top: 10px solid red;
    left: 80px;
}


.middle-box{

    height: 200px;
    width: 300px;
    display: flex;
}

.bottom-box{
    height: 100px;
    width: 300px;
    display: flex;
}


.bottom-box::before{
    content: '';
    height: 100%;
    width: 100px;
    display: flex;
    border-left: 10px solid red;
    border-bottom: 10px solid red;
}

.bottom-box::after{
    content: '';
    position: relative;
    height: 100px;
    width: 100px;
    z-index: 2;
    border-right: 10px solid red;
    border-bottom: 10px solid red;
    left: 80px;
    }
    
    
