*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: yellowgreen;
}
.container{
  height: 100vh;
  width: 100%;
  /* background-color: black; */
}
p{
  font-size: 50px;
  color: black;
}
header{
  background-color: violet;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;


}
 ul{
  display: flex;
 padding-left: 20px;
  margin: 20px;
 }

 li{
  list-style: none;
  margin-left: 20px;
  font-size: 20px;
 }