.container{
    color: white;
    background-color: darkblue;
    margin: 10px auto;
    text-align: center;
}


.btn1{
    background-color: blue;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    align-items: center;
}
.btn1:hover{
    background-color: cornflowerblue;
}

.btn2{
    background-color: orange;
    color: white;
    border: none;
    align-items: center;
    margin-left: 20px;
}
.btn2:hover{
    background-color: cornflowerblue;
 }

.btn3{
    background-color: green;
    color: white;
    border: none;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
}
.btn3:hover{
    background-color: darkgreen;
 }



.btn4{
    background-color: red;
    color: white;
    border: none;
    align-items: center;
    border-radius: 20px;
    padding: 5px 5px;
    margin-left: 20px;

}
.btn4:hover{
    background-color:darkred;
 }


.btn5{
    background-color: darkblue;
    color: white;
    border: 2px solid red;
    align-items: center;
    padding: 15px 15px;
}
.btn5:hover{
    background-color: red;
 }


.btn6{
    background-color: darkblue;
    color: white;
    border: 2px solid purple;
    align-items: center;
    margin-left: 20px;

}
.btn6:hover{
    background-color: purple;
 }

.btn7{
    background-color: darkblue;
    color: white;
    border: 2px solid yellow;
    align-items: center;
    padding: 15px 15px;
    border-radius: 20px;
}
.btn7:hover{
    background-color: yellow;
 }

.btn8{
    background-color: darkblue;
    color: white;
    border: 2px solid greenyellow;
    align-items: center;
    border-radius: 20px;
    margin-left: 20px;

}
.btn8:hover{
    background-color:  greenyellow;
 }
