*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
}

div{
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;

}
.button{
    padding: 10px 20px;
    border: 2px solid black;
    
}

/*------------------- Translate Y -------------------*/
.translate-y{
    overflow: hidden;
    position: relative;
}

.translate-y::before{
    transition:all .5s;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: violet;
    transform: translateY(1);
    top: -40px;
    left: 0px;


}
.translate-y:hover::before{
    content: 'COOOOOOL!!';
    transform: translateY(100%);
}

/*------------------- Translate X -------------------*/

.translate-x{
    overflow: hidden;
    position: relative;
}

.translate-x::before{
    transition:all .5s;
    content: '';
    position: absolute;
    height: 100%;
    width: 105%;
    background-color: violet;
    transform: translateX(0);
    top: 0px;
    left: -125px;


}
.translate-x:hover::before{
    content: 'COOOOOOL!!';
    transform: translateX(100%);
}

/*------------------- Rotate -------------------*/

.rotate{
    position: relative;
    overflow: hidden;
    
}
.rotate::before{
    content: ' ';
    height: 100%;
    width: 100%;
    background-color: violet;
    position: absolute;
    transform: rotate(90deg);
    transform-origin:left bottom ;
    left:0px;
    top: 0px;
    transition:all .5s;
    
    }


    .rotate:hover::before{
    transform: rotate(0deg);
    content: 'hello';

}

/*------------------- skew -------------------*/
.skew{
    position: relative;

    
}
.skew::before{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: skewY(0deg);
    transform-origin:left bottom ;
    left:0px;
    top: 0px;
    transition:all .5s;
    content: '';

}


.skew:hover::before{
    content: 'skew';
    background-color: violet;
    border: black solid 2px;
    transform: skewY(20deg);
}



/*------------------- scale -------------------*/

.scale{
    display: flex;
    position: relative;
    /* overflow: hidden; */
    
}
.scale::before{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0, 50%,0 ,50% );
    left:0px;
    top: 0px;
    transition:all 1s;
    content: '';
}


.scale:hover::before{
    content: 'Scale';
    text-align: center; 
    color:white;
    background-color: black;
    border: black solid 2px;
    transform: scale(0);
}

